<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3.计算属性语法实现</title>
    <script type="text/javascript" src="../vue_js/vue.js"></script>
</head>
<body>
    <div id="root">
        姓：<input type="text" v-model="firstName"> <br>
        名：<input type="text" v-model="lastName"> <br>
        <h1>你好，{{fullName}}</h1> <br>
        <h1>你好，{{fullName}}</h1> <br>
        <h1>你好，{{fullName}}</h1> <br>
    </div>
</body>
<script type="text/javascript">
    Vue.config.productionTip = false

    const vm = new Vue({
        el:'#root',
        data:{
            firstName:'张',
            lastName:'三'
        },
        computed:{
            fullName:{
                // get的作用，当fullName被读取时，get会被调用，且返回值作为fullName的值
                get(){
                    console.log('get被调用')
                    return this.firstName + '-' + this.lastName
                },
                // set当fullName被修改时
                set(value){
                    console.log('set被调用')
                    const arr = value.split('-')
                    this.firstName = arr[0]
                    this.lastName = arr[1]
                }
            }
        }
    })
    console.log(vm)
</script>

</html>